@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Poppins', sans-serif;
}


* {
    scrollbar-width: thin;
    scrollbar-color: #2b2ba1;
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-thumb {
    background-color: #404068;
    border-radius: 20px;
}

*::-webkit-scrollbar-track {
    background-color: #111111;
}